<div class="flex gap-5 flex-col-reverse lg:flex-row">
  <form [formGroup]="infoForm" class="flex flex-col gap-5 flex-1 p-5 shadow-md">
    <h2 class="text-xl font-medium">Contact Information</h2>
    <div class="flex gap-3 md:w-2/3 lg:w-1/2">
      <div class="w-full">
        <input
          class="rounded-md"
          nz-input
          nzSize="large"
          placeholder="First Name"
          formControlName="firstName"
        />
        <span
          nz-typography
          nzType="danger"
          *ngIf="
            infoForm.get('firstName')?.hasError('required') &&
            (infoForm.get('firstName')?.dirty ||
              infoForm.get('firstName')?.touched)
          "
          >First name is required.</span
        >
      </div>
      <div class="w-full">
        <input
          class="rounded-md"
          nz-input
          nzSize="large"
          placeholder="Last Name"
          formControlName="lastName"
        />
        <span
          nz-typography
          nzType="danger"
          *ngIf="
            infoForm.get('lastName')?.hasError('required') &&
            (infoForm.get('lastName')?.dirty ||
              infoForm.get('lastName')?.touched)
          "
          >Last name is required.</span
        >
      </div>
    </div>
    <div>
      <input
        class="rounded-md"
        nz-input
        nzSize="large"
        placeholder="Street Address"
        formControlName="address"
      />
      <span
        nz-typography
        nzType="danger"
        *ngIf="
          infoForm.get('address')?.hasError('required') &&
          (infoForm.get('address')?.dirty || infoForm.get('address')?.touched)
        "
        >Address is required.</span
      >
    </div>
    <div class="flex gap-3 md:w-2/3 lg:w-1/2">
      <div class="w-full">
        <input
          formControlName="city"
          class="rounded-md"
          nz-input
          nzSize="large"
          placeholder="City"
        />
        <span
          nz-typography
          nzType="danger"
          *ngIf="
            infoForm.get('city')?.hasError('required') &&
            (infoForm.get('city')?.dirty || infoForm.get('city')?.touched)
          "
          >City is required.</span
        >
      </div>
      <div class="w-full">
        <input
          numberOnly
          class="rounded-md"
          nz-input
          nzSize="large"
          placeholder="Zip code"
          formControlName="zipCode"
        />
        <span
          nz-typography
          nzType="danger"
          *ngIf="
            infoForm.get('zipCode')?.hasError('required') &&
            (infoForm.get('zipCode')?.dirty || infoForm.get('zipCode')?.touched)
          "
          >Zip code is required.</span
        >
        <span
          nz-typography
          nzType="danger"
          *ngIf="
            infoForm.get('zipCode')?.hasError('pattern') &&
            (infoForm.get('zipCode')?.dirty || infoForm.get('zipCode')?.touched)
          "
          >Zip code must be digit.</span
        >
      </div>
    </div>
    <div class="md:w-2/3 lg:w-1/2">
      <input
        numberOnly
        class="rounded-md"
        nz-input
        nzSize="large"
        placeholder="Phone Number"
        formControlName="phoneNumber"
      />
      <span
        nz-typography
        nzType="danger"
        *ngIf="
          infoForm.get('phoneNumber')?.hasError('required') &&
          (infoForm.get('phoneNumber')?.dirty ||
            infoForm.get('phoneNumber')?.touched)
        "
        >Phone number is required.</span
      >
      <span
        nz-typography
        nzType="danger"
        *ngIf="
          infoForm.get('phoneNumber')?.hasError('pattern') &&
          (infoForm.get('phoneNumber')?.dirty ||
            infoForm.get('phoneNumber')?.touched)
        "
        >Phone number should be 10 digit.</span
      >
    </div>
    <button
      class="bg-backgroundPrimary hover:bg-backgroundDarkPrimary"
      nz-button
      nzType="primary"
      [nzLoading]="isSubmitting"
      nzSize="large"
      [disabled]="infoForm.invalid"
      (click)="submitForm()"
    >
      Order
    </button>
  </form>
  <div class="p-5 shadow-md lg:max-w-350">
    <h2 class="text-xl font-medium mb-4">Summary</h2>
    <div class="h-200 overflow-y-auto">
      <div *ngFor="let cart of carts" class="flex gap-2 p-3">
        <img
          class="w-20 h-20 object-contain"
          [src]="cart.imageUrls[0]"
          alt="image"
        />
        <div class="flex-1">
          <p class="text-slice">{{ cart.name }}</p>
          <div class="flex justify-between items-center mt-2">
            <span class="text-primary">
              {{
                cart.price - (cart.price * cart.discountPercent) / 100
                  | currency
              }}</span
            >
            <span class="text-grey">{{ cart.quantity }}</span>
          </div>
        </div>
      </div>
    </div>
    <nz-divider></nz-divider>
    <p class="text-xl font-medium">Total: {{ totalPrice | currency }}</p>
  </div>
</div>
