<div
  class="flex flex-col w-full sm:max-w-[50%] xl:max-w-[30%] h-full fixed top-0 right-0 z-[99] bg-white transition-transform duration-200 ease-linear"
  [class]="openCart ? 'translate-x-0' : 'translate-x-full'"
>
  <div class="relative">
    <h2 class="text-xl font-medium p-5 border-b border-[#d8d3cf]">
      Shopping Cart
    </h2>
    <i
      class="absolute top-[50%] right-5 text-xl -translate-y-[50%] cursor-pointer"
      nz-icon
      nzType="close"
      nzTheme="outline"
      (click)="closeCart.emit()"
    ></i>
  </div>
  <div class="flex-1 py-5 overflow-y-auto">
    <div
      *ngIf="!carts.length"
      class="h-full flex flex-col gap-2 justify-center items-center"
    >
      <img nz-image nzDisablePreview nzSrc="assets/images/cart.png" />
      <span>Oops! your cart is empty.</span>
    </div>
    <div *ngIf="carts.length" class="flex flex-col">
      <ng-container *ngFor="let cart of carts">
        <app-cart-item [cartItem]="cart"></app-cart-item>
      </ng-container>
    </div>
  </div>
  <div class="p-5 border-t border-[#d8d3cf]">
    <p class="font-medium mb-3">Total price: {{ totalPrice | currency }}</p>
    <button
      class="block w-full uppercase bg-backgroundPrimary hover:bg-backgroundDarkPrimary"
      nz-button
      nzSize="large"
      nzType="primary"
      [disabled]="!carts.length"
      (click)="navigate()"
    >
      Check out
    </button>
  </div>
</div>
<div
  class="fixed top-0 right-0 z-[98] left-0 bottom-0 bg-[#00000073] cursor-pointer"
  [class]="openCart ? 'block' : 'hidden'"
  (click)="closeCart.emit()"
></div>
