<swiper
  [navigation]="true"
  [loop]="true"
  [autoplay]="{
    delay: 5000,
    disableOnInteraction: false
  }"
>
  <ng-template swiperSlide *ngFor="let slider of sliderData">
    <div
      class="relative pt-[100%] sm:pt-[60%] lg:pt-[40%]"
      [style]="{
        backgroundImage: 'url(' + slider.imgUrl + ')',
        backgroundSize: 'cover',
        backgroundPosition: 'center'
      }"
    >
      <div class="w-full absolute top-1/2 left-0 -translate-y-1/2">
        <div class="app-container px-10">
          <div class="w-full sm:w-3/4 lg:w-1/2">
            <h2 class="text-4xl xl:text-7xl leading-tight">
              {{ slider.title }}
            </h2>
            <p class="md:text-xl font-light py-3 leading-normal">
              {{ slider.description }}
            </p>
            <div class="flex gap-8">
              <a
                class="bg-backgroundPrimary text-white hover:bg-backgroundDarkPrimary hover:text-white transition-all"
                nz-button
                nzSize="large"
                routerLink="shop"
              >
                To Shop
              </a>
              <a
                class="hover:bg-backgroundGrey hover:text-grey"
                nz-button
                nzSize="large"
                routerLink=""
              >
                Read More
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</swiper>
