<div class="py-16">
  <div
    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8"
    infiniteScroll
    [infiniteScrollDistance]="1"
    [infiniteScrollThrottle]="150"
    (scrolled)="loadMoreProduct()"
  >
    <ng-container *ngIf="isLoading">
      <app-skeleton *ngFor="let item of skeleton"></app-skeleton>
    </ng-container>
    <ng-container *ngIf="!isLoading">
      <app-product-card
        *ngFor="let product of products"
        [product]="product"
        [routerLink]="['/shop', product.id]"
      ></app-product-card>
    </ng-container>
  </div>
  <nz-spin
    class="text-center py-4"
    nzSimple
    [nzSpinning]="isLoadMore"
    nzSize="large"
  ></nz-spin>
</div>
