/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';

@layer base {
  body {
    font-family: 'Poppins', sans-serif;
  }
}

.app-container {
  @apply max-w-1200 mx-auto;
}

body::-webkit-scrollbar {
  width: 0.75rem;
}

body::-webkit-scrollbar-thumb {
  @apply bg-backgroundLightPrimary rounded-full border border-white;
}

*::-webkit-scrollbar {
  width: 0.5rem;
}

*::-webkit-scrollbar-thumb {
  @apply bg-backgroundDarkestGrey rounded-full border border-white;
}

.text-slice {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  -webkit-line-clamp: 2;
}

input.ng-invalid.ng-touched {
  @apply border-red-500;
}





