<div class="flex gap-5 flex-col lg:flex-row">
  <div class="w-full h-400 overflow-y-auto p-5 shadow-md">
    <h2 class="text-xl font-medium mb-4">Shopping Cart</h2>
    <app-cart-item *ngFor="let cart of carts" [cartItem]="cart"></app-cart-item>
  </div>
  <div class="p-5 shadow-md min-w-250 max-h-250">
    <h2 class="text-xl font-medium mb-4">Summary</h2>
    <div class="flex flex-col gap-2">
      <input
        class="rounded-md"
        nz-input
        placeholder="Input coupon"
        nzSize="large"
      />
      <div class="flex gap-2">
        <button
          class="bg-backgroundPrimary text-white hover:bg-backgroundDarkPrimary hover:text-white"
          nz-button
        >
          GET COUPON
        </button>
        <button nz-button nzType="default">APPLY</button>
      </div>
    </div>
    <p class="py-2">20% discount and you save 249.32 $</p>
    <p class="text-xl font-medium">Total: {{ "1000" | currency }}</p>
  </div>
</div>
